In [1]:
import pandas as pd
import seaborn as sns 
import matplotlib as plt 
import numpy as np
import os

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [4]:
mainpath = '/Users/laar/Documents/Pyth_on/KAGGLE/Amazon_degradation/'
area  = pd.read_csv(os.path.join(mainpath, 'def_area_2004_2019.csv'), header = 0)
defor =  pd.read_excel(os.path.join(mainpath, 'deforestation_Brazil.xlsx'), header = 0)
fires = pd.read_csv(os.path.join(mainpath, 'inpe_brazilian_amazon_fires_1999_2019.csv'), header = 0)
elnino = pd.read_csv(os.path.join(mainpath, 'el_nino_la_nina_1999_2019.csv'), header = 0)

In [8]:

fires['state'].unique()

array(['AMAZONAS', 'MARANHAO', 'MATO GROSSO', 'PARA', 'RONDONIA',
       'RORAIMA', 'AMAPA', 'TOCANTINS', 'ACRE'], dtype=object)

In [14]:
area = area.rename({'AC' : 'ACRE', 'AM' : 'AMAZONAS', 'AP' : 'AMAPA', 'MA': 'MARANHAO', 
                    'MT' : 'MATO GROSSO', 'PA' : 'PARA', 'RO' : 'RONDONIA', 
                    'RR' : 'RORAIMA', 'TO': 'TOCANTINS'  }, axis='columns')

In [18]:
area = area.rename({'Ano/Estados' : 'Year', 'AMZ LEGAL' : 'SUM'}, axis = 'columns')

In [19]:
area.head()

,Year,ACRE,AMAZONAS,AMAPA,MARANHAO,MATO GROSSO,PARA,RONDONIA,RORAIMA,TOCANTINS,SUM
0,2004,728,1232,46,755,11814,8870,3858,311,158,27772
1,2005,592,775,33,922,7145,5899,3244,133,271,19014
2,2006,398,788,30,674,4333,5659,2049,231,124,14286
3,2007,184,610,39,631,2678,5526,1611,309,63,11651
4,2008,254,604,100,1271,3258,5607,1136,574,107,12911

In [20]:
defor.head()

,Conservation Unity Name,Protection group,Year of creation,estimated area of CU (ha),Biome,Have monitoring (PRODES),PRODES 2019,PRODES 2018,PRODES 2017,PRODES 2016,PRODES 2015,PRODES 2014,PRODES 2013,PRODES 2012,PRODES 2011,PRODES 2010,PRODES 2009,PRODES 2008,PRODES 2007,PRODES 2006,PRODES 2005,PRODES 2004,PRODES 2003,PRODES 2002,PRODES 2001,PRODES (1998 até 2000),PRODES (acumulado até 1997)
0,APA Anhatomirim,sustainable use,1992,4436.590227,Marine - Coast,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,APA Bacia Hidrográfica do Rio Paraíba do Sul,sustainable use,1982,292599.924245,Atlantic forest,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,APA Barra do Rio Mamanguape,sustainable use,1993,14917.791283,Marine - Coast,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,APA Carste da Lagoa Santa,sustainable use,1990,39957.148494,Savanna,Yes,5.2291,1.6745,55.1189,5.3779,28.3808,180.7024,160.6976,66.59980,66.59980,30.60440,30.60440,218.6854,218.6854,293.39125,293.39125,390.68090,390.68090,333.10765,333.10765,24379.8237,NaN
4,APA Cavernas do Peruaçu,sustainable use,1989,143355.585718,Savanna,Yes,8.6860,27.0174,90.3144,15.5474,95.8332,174.4544,496.0945,561.99365,561.99365,522.14965,522.14965,127.8657,127.8657,1455.18475,1455.18475,1442.04345,1442.04345,823.97995,823.97995,7048.5908,NaN

SyntaxError: invalid syntax (690880247.py, line 1)